appdirs==1.4.3
cfgv==3.1.0
cvxpy==1.0.31
distlib==0.3.0
filelock==3.0.12
identify==1.4.14
importlib-metadata==1.6.0
importlib-resources==1.4.0
names==0.3.0
nodeenv==1.3.5
numpy==1.18.3
pandas==1.0.3
pre-commit==2.2.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
toml==0.10.0
virtualenv==20.0.18
xlrd==1.2.0
zipp==3.1.0
