appdirs
Brotli
cfgv
click
cvxopt
cvxpy
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
dccp
dill
distlib
ecos
filelock
Flask
Flask-Compress
future
identify
importlib-metadata
importlib-resources
itsdangerous
Jinja2
MarkupSafe
mongo
multiprocess
names
numpy
osqp
pandas
plotly
pre-commit
python-dateutil
pytz
redis
retrying
scipy
scs
six
toml
virtualenv
Werkzeug
xlrd
zipp
pathos
prettytable
